<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="principal_menu" color="light"></ion-menu-button>
    </ion-buttons>

    <ion-text color="light" class="ion-text-center">
      <h5>Formularios</h5>
    </ion-text>

    <ion-buttons slot="end">
      <ion-button (click)="presentPopover( $event )">
        <ion-avatar style="max-width: 40px; max-height: 40px;">
          <img alt="Sin avatar" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>