.titulo-principal {
    font-size: 30px;
    font-weight: 700;
}

ion-thumbnail h3 {
    font-weight: 600;
}

ion-label h4 {
    font-size: 15px;
    font-weight: 500;
}

ion-label p {
    font-size: 13px;
}