/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

.required {
	color: red;
	font-weight: bold;
}

ion-label.label-input {
	color: rgb(199, 199, 199);
	font-size: 1rem;
	font-weight: 500;
	margin-left: 1rem;
}

ion-input.input-form {
	font-size: 1.1rem;
	border-radius: 23px;
	margin-top: 0.3rem;
}

ion-input.input-form {
	padding: 2px 1rem !important;
}

.scanner-activado {
	--background: transparent !important;
	--ion-background-color: transparent !important;
}

.scan-box {
	border: 2px solid #FFF;
	box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
	content: '';
	display: block;
	left: 50%;
	height: 300px;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 300px;
}



.ion-text-wrap .label-text-wrapper > .label-text {
    white-space: normal;
	line-height: 14px;
}